.mappable--point {
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border: 2px solid;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.mappable--pin {
    position: absolute;
    transform: translate(calc(-50% + 2px), calc(-100%));
}

.mappable--icon {
    position: absolute;
    transform: translate(calc(-24px - 10px), 10px);
}
